.h1-head{
    color:$primary-color;
    text-shadow: 1px 1px 2px white;
}

.h2-head{
    color:$secondary-color;
    text-shadow: 1px 1px 2px white;
}

.h5-footer{
    color:$secondary-color;
}

.a-footer{
    color:black;
}

.h2-blog{
    color:$secondary !important; 
}

