{% extends 'base.html.twig' %}

{% block title %}Edit HardSkills{% endblock %}

{% block body %}
    <h1>Edit HardSkills</h1>

    {{ include('hard_skills/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('hard_skills_index') }}">back to list</a>

    {{ include('hard_skills/_delete_form.html.twig') }}
{% endblock %}
